*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    /* font-family: 'Zen Antique', serif; */
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zen+Antique&display=swap');/* variables */
body{
    --customGradient:linear-gradient(
    to right,
    #131a26,
    #192548,
    #182972);
    --whiteColor:#ffffff;
    --grayGradient:linear-gradient(to right, #878a91 ,#8a91ae,#8691c1);

    --TextGradient:   linear-gradient( to right, #040f22 45%,blue 60%);
}
/* variables */

/* start of  unitlity classes */
.linear_text{
    background: var(--TextGradient);
    -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
}

.btn{
    display: block;
    border: 1px solid black;  
    background: transparent;
    padding: .4rem .8rem;
    border-radius: 7px;
    cursor: pointer;
}
.nav_search_icon{
    color: black;
}
.small_headingCenter{
    /* this is the head that has gradient But Mioves to the center finally in desktop mode */
    text-align: center;
    font-size: 2rem;
    text-transform:uppercase;
    background: linear-gradient( to right, #040f22 45%,blue 60%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding: 1rem 0;
}
/*end of unitlity classes */



/* begining of navbar  style*/


.navlinks_container{
    position: absolute;
    top: 20%;
    left: 5%;
    /* transform: translate(0, -50%); */
    background-color: white;
    list-style: none;
    width: 90%;
    height: 60%;
    border-radius: 5px;
    padding: 1rem; 
    box-shadow:0px 4px 41px -17px #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 41;
    opacity: 0;
    /* transform: translateX(-100vw); */
    transition: opacity .6s;
    /* display: none; */
      
}
.navlinks_container.show{
    opacity: 1;
    animation: showPhoneNav 1s ease-in-out ;

    
}

@keyframes showPhoneNav {
    0%{
        transform: translateX(-100%);
    }
    50%{
        /* transform: translateX(70%); */

    }

    100%{
        transform: translate(0);

    }
}
/* .navlinks_container::after{
    content: "";
    position: fixed;
    background-color: rgba(0, 0, 0,.5);
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: 11;
} */

.navlinks_container li{
    /* border: 1px solid red; */
    text-align: center;
    padding: .5rem 0;
    font-size: 1.1rem;
}
.navlinks_container li a{
    color:  black;
    text-decoration: none;
}
.navlinks_container li a:hover{

}
nav{
    /* z-index: 200; */
    
    /* border: 1px solid red; */
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    /* border: 1px solid yellow; */
    /* line-height: 22px; */
}
.logo span{
     display: block;
     width: 100%;
     text-align: center;
}
.logo .bigtextLogo{
    line-height: 39px;
    font-size: 3.7rem;
    font-weight: 300;
    letter-spacing: -4px;
    text-align: left;    
}

.logo .mediumtextLogo{
    font-size: 1.2rem;
    font-weight: 400;
}

.logo .smalltextLogo{
    font-size: .5rem;
    font-weight: 600;
}

.hamburger{
    cursor: pointer;
    font-size:2rem;
}

.btn.nav_btn{
    margin: 4% auto;
    
}

/* end of navbar  style*/

/* hero_section style begin */
.hero_section{
    background: var(--customGradient);
    color: #ffffff;
    /* for now change the hieght later if u want */
    /* height: 100vh; */
    overflow: hidden;
}
/* hero_section style end */


/*start hero_section__container */
.hero_section__container{
    margin:10% 0;
    /* border: 1px solid red; */
}
.hero_section__container_image{
    width: 80%;
    /* border: 1px solid red; */
    margin: 0 auto;
    position: relative;
    
}
.hero_section__container_image .blur_box{
    background-color: rgba(255, 255, 255, 0.075);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(150deg) scale(.9);
    border-radius: 20px;
    z-index:1 ;
    
    
}
.hero_section__container_image .blur_box.one{
    transform: rotate(120deg) scale(.9);
}
.hero_section__container_image .blur_box.three{
    transform: rotate(135deg) scale(.9);
 
    
}
.hero_section__container_image img{
    
    border-radius: 20px;
    width: 100%;
    height: 100%;
    z-index: 15;
    position: relative;
}

.hero_section__container_content{
    /* border: 1px solid purple; */
    margin-top: 10%;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    /* background-color: red; */
}
.hero_section__container_content  h1{
    padding:.2rem 0;
    font-family: 'Zen Antique', serif;
    font-weight: 400;
   
}

.hero_section__container_content .h1line{
    width: 90%;
    /* margin: 0 auto; */
}

.hero_section__container_content >div{
    /* border: 1px solid yellow; */
    width: 58%;
    margin: 0 auto;
}

.hero_section__container_content p{
    padding: 1rem 0;
}
/*end hero_section__container */

/* start of section_b */
.section_b{
    /* border: 1px solid yellow; */
    padding: 1rem;
}
.section_b__image_container img{
    width: 100%;
    border-radius: 10px;
    opacity: .8;
}
.main_image_conainter{
    position: relative;
}
.main_image_conainter .fa-play{
    position: absolute;
    top: 50%;
    left: 52%;
    cursor: pointer;
    color: red;
    font-size: 2rem;
}

.dot_container{
    /* border:1px solid red; */
        display: flex;
        justify-content: space-between;
    width: 30%;
    margin: 5% auto;
}   
.dot{
        background-color:#ebecec;
        /* background-color:yellow; */
        width:  10px;
        height: 5px;
        border-radius: 50px;
        padding: .6rem;
}
.conatainer_for_not_main_images{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    /* border: 1px solid red; */

}
.section_b__image_container__not_main_image{
    border-radius: 10px;
    background-color: #ebecec;
    padding: 2rem;
    position: relative;
    border-radius: 10px;
    /* border:1px solid red; */

}
.section_b__image_container__not_main_image::before{
    /* background-color: red; */
    content: "\f04b";
    font-family: 'Font Awesome 5 Free';
    color:#c4c4c7;
    font-weight: 900;
    font-size: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;

}
.section_b__content_container{
    /* border: 1px solid blue; */

    margin-top: 20%;
    padding: 1rem .9rem;
    padding-top: 0;
    padding-left: 1.4rem;
    position: relative;
}
.horizontal_thick_line{
    background: var(--customGradient);
    width: 6px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
}
.section_b__content_container__headingtext{
    font-weight: 700;
    font-size: 1.5rem;
    padding:  .8rem 0;
 
}
.section_b__content_container__subtext{
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 2px;
    padding:  .2rem 0;

}
.section_b__content_container__justtext{
    padding:  .4rem 0;
    font-size: .8rem;
    font-weight: 500;
}

/* end of section_b */

.section_c{
    padding: .8rem 1.5rem;
    /* border: 1px solid red; */
   
}
.section_c__headText{
   
    text-align: center;

    background:var(--TextGradient);
    -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
}


.section_c__card{
    margin: 20% 0;
    padding: 1.5rem 1.8rem;
    text-align: center;
    border-radius: 20px;
    box-shadow: -1px 0px 20px -17px rgba(0,0,0,0.75);
    /* -webkit-box-shadow: -1px 0px 20px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 20px -12px rgba(0,0,0,0.75); */
}
.section_c__card p{
    color: #2c2e35;
}
.section_c_card__image_container{
    overflow: hidden;

    height: 150px;
    width:150px;
    border-radius: 50%;
    margin: 0 auto;
    /* border: 1px solid black; */
    text-align: center;
}   
.section_c_card__image_container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.section_c__card__headText{
    font-size: 1rem;
    padding: 1.2rem 0;
    color: #2c2e35;
}
/* end of section_c */

/* start of section_d */
.section_d__main_content_container{
/* border: 1px solid red; */
padding: .8rem 1rem;
}

.section_d__main_content_container h2{
    color: #2c2e35;
    font-size: 1.4rem;
    text-align: center;
    padding: 1rem 0;
}
.section_d__main_content_container p{
    color: #2c2e35;
    text-align: center;
}
.section_d__main_content_container img{
    width: 90%;
    height: 100%;
    /* object-fit: cover; */
}

.list_of_not_main_content{
    padding: 1rem .9rem;
}
.section_d_not_main_container{
    
    /* border: 1px solid red; */
    border-radius: 10px;
     padding: 1rem .8rem;
    box-shadow: -1px 0px 24px -17px rgba(0,0,0,0.75);
    max-width: 500px;
   margin: 7% auto;
    /* width: 400px; */
    cursor: pointer;
    /* display: flex; */
}

.section_d_not_main_container__image_box{
    width: 30%;
    height: 100%;
    /* border: 1px solid green; */

}
.section_d_not_main_container__image_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section_d_not_main_container__content_box h2{
    color: #2c2e35;
    font-size: 1rem;
    padding: .2rem 0;
    /* text-align: center; */
}

.section_d_not_main_container__content_box .content{

    padding-bottom: 1.2rem;
}

.section_d_not_main_container__content_box p{
    color: #2c2e35;
    font-size: .8rem;

 
}

.section_d_line{
    height: 1.2px;
    width: 100%;
    background-color:  #2c2e35;
    color: #2c2e35;
    width: 20%;

    /* width: 20%; */
}
.section_d_not_main__btn{
    border: 1px solid white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */

}
/* end of section_d */

/* start of section_f */
.section_f{
    /* border: 1px solid springgreen; */
    background: var(--customGradient);
    color: var(--whiteColor);
}


.section_f__content_box{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    width: 90%;
    margin: 5% auto;
}
.section_f__content_box p{
    width: 30%;
    text-align: center;

}
.section_f__content_box__imageContainer{
    overflow: hidden;
    width: 60%;
    /* height: 150px; */

}
.section_f__content_box__imageContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section_f_headText{
    
    padding: 0 2rem;
    padding-top: 2rem;
    font-size: 2rem;
    max-width: 880px;
    margin: 0 auto;
}
/* end of section_f */


/*  start of section_g*/

.past_event h3,.testimonial h2{
    text-align: center;
    padding: 1rem;
    color: #2c2e35;
}
.past_event_pic_grid{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 1fr 50px 50%;
    
    grid-template-areas: 
    "imageOne imageOne imageTwo imageTwo"
    "imageOne imageOne imageTwo imageTwo"
    "imageOne imageOne imageTwo imageTwo"
    "imageThree imageFour  imageFive imageFive "
    ;
    overflow: hidden;
    width: 90%;
    border-radius: 10px;
    margin: 0 auto;
    min-height: 400px;
}
.past_event_image_one{
    grid-area: imageOne;
}
.past_event_image_two{
    grid-area: imageTwo;
}
.past_event_image_three{
    grid-area: imageThree;
}
.past_event_image_four{
    grid-area: imageFour;
}
.past_event_image_five{
    grid-area: imageFive;
}
.past_event_pic_grid img{
    width: 100%;
    height:  100%;
    display: block;
    object-fit:cover;
}

.testimonial{
    /* border: 1px solid yellow; */
    padding: 1.3rem 1rem;
    margin: 3% 0;
}
.testimonial_card{
    box-shadow: -1px 0px 31px -17px rgba(0,0,0,0.75);
    padding: 1.6rem ;
    /* border:1px solid red; */
    border-radius: 40px;
}
.testimonial_card img{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 7% auto;
}.testimonial_card p{
    color: #2c2e35;
}

/*  end of section_g*/

/* start of  */
.about_me{
    /* border: 1px solid yellow; */
}
.about_me>.hero_section{
    background: var(--grayGradient);
    /* babout_meackground-color: red; */
    /* border: 1px solid green; */
}
.about_me>.hero_section .hero_section__container .blur_box{
    background-color: #575f82;
    
}
.about_me>.hero_section .hero_section__container .blur_box.one{
    opacity: .7;
}
.about_me>.hero_section .hero_section__container .blur_box.two{
    opacity: .2;
}

.about_me>.hero_section .hero_section__container .blur_box.three{
    opacity: .5;
}

/* end of about_me */

/* start of media queris */
@media screen  and (min-width:500px){
    .section_c__card{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .past_event_pic_grid{
        grid-template-areas: 
        "imageOne imageOne imageTwo imageTwo"
        "imageOne imageOne imageTwo imageTwo"
        "imageThree imageThree  imageFour imageFive "
        ;
    }

    .past_event_pic_grid{
        min-height: unset;
    grid-template-rows: unset;

    }
}


@media screen and (min-width:500px) {
    .section_d_not_main_container{
        display: flex;
        justify-content: space-between;
    }

    .section_d_not_main_container__content_box{
        width: 66%;
  
   
        /* border: 1px solid green; */
    }
    .section_d_not_main_container__image_box{
        width: 30%;
        height: 100%;
        /* border: 1px solid green; */
    
    }
}
@media screen and (min-width:600px) {
    .conatainer_for_not_main_images{
        width: 50%;
        margin: 0 auto;
    }
    .section_c__card{
        width: 70%;
    }
}
@media screen and (min-width:700px) {

    .section_c__card{
        width: 80%;
       /* margin: unset; */
    }
    .section_c__headText{
        /* border: 1px solid red; */
        text-align: left;
        max-width: 1000px;
        font-weight: 900;
        margin: 0 auto;
        font-size: 1.6rem;
        
            background:linear-gradient(
                to right,
                #131a26,
                blue,
                blue);
            -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
    }

    .section_c_card__image_container{
        width: 150px;
        height: 150px;

    }

    .section_c__card_container{
        display: grid;
        grid-template-columns: repeat(2,1fr);

    }
    .hero_section .hero_section__container_content{
        font-size: 1.3rem;
    }
  
    .section_b{
        padding: 0 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1000px;
        margin:  0 auto;
       
    }

    .conatainer_for_not_main_images{
        width:100%;
        margin: unset;
        /* border: 1px solid red; */
      
    }
    .section_b__image_container{
        margin: unset;
        width: 40%;

    }
    .section_b__content_container{
        margin: unset;
        width: 50%;
        
        /* border: 1px solid rgb(134, 82, 187); */
    }

    .section_b__content_container__headingtext{
        font-size: 2rem;
        padding: 0;
        padding-top: .8rem;
    
        
    }
    .section_b__content_container__justtext{
        font-weight: 400;
        font-size: 1.1rem;
    }

    .section_d__content_container{
        display: grid;
        max-width: 1000px;
        margin: 0 auto;
        justify-content: center;
        /* align-items: center; */
        /* border: 1px solid rebeccapurple; */
        grid-template-columns:60% 40%;
        grid-template-rows: minmax(200px,auto);

    }
    .section_d_not_main_container{
        width: 100%;
        flex-direction: column;
    }
    .section_d__main_content_container p{
        text-align: left;
        /* border: 1px solid yellow; */
    }
    .section_d__main_content_container h2{
        text-align: left;
        padding: .2rem 0 ;
    }
    .section_f__grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        max-width: 800px;
        margin: 0 auto;
    }
    .section_f__content_box{
        /* border: 1px solid red; */
        /* padding: 0; */
        /* padding: 0; */
    }
    .section_f__content_box p{
        text-align: left;
        
    }

    .section_g_flex_container{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .past_event{
        width: 60%;
        /* flex-grow: 0; */
    }
    .past_event_pic_grid{
        
        border-radius: 50px;
    }
    .testimonial{
        width: 50%;
        
    }
}

@media screen and (min-width:800px) {

    .about_me>.hero_section .hero_section__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* border: 1px solid yellow; */
        
    }

    .about_me>.hero_section .hero_section__container h1{
        font-size: 1.5rem;
    }

    .about_me>.hero_section .hero_section__container p{
        font-size: 1rem;
    }

    .navlinks_container{
        opacity: 1;
        flex-direction: row;
    }
    .section_c__card{
        width: 100%;
        margin: unset;
      
    }
        .section_c__card_container{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            max-width: 1000px;
            margin: 5% auto;
            margin-top: 3%;
            gap: 50px;
            /* border: 1px solid red; */
        }
        .section_c_card__image_container{
            width: 150px;
            height: 150px;
        }
        .hero_section__container{
            display: flex;
            flex-direction: row-reverse;
            padding: 0 1rem;
            align-items: center;
            justify-content: space-between;
            justify-content: space-around;
            /* border: 1px solid firebrick; */
            max-width: 850px;
            margin:  10% auto;
        }

        .hero_section__container_image{
            /* border: 1px solid forestgreen; */
            width: 40%;
            margin: unset;
            
        }
        .hero_section__container_content{
            /* border: 1px solid yellow; */
            width: 50%;
            margin: unset;
            text-align: left;
        }
        .hero_section__container_content >div{
            /* border: 1px solid yellow; */
            margin: unset;
            width: 68%;

        }

        .hero_section__container_content .h1line{
            width: 100%;
            /* margin: 0 auto; */
        }

    .section_d_not_main_container{
        flex-direction: row;
        }
}



@media screen and (min-width:900px) {
    nav{
        /* border: 1px solid brown; */
        padding-right: unset;
        padding-left: 10%;
      
    }
    .conatainer_for_not_main_images{
        width: 70%;
        margin: 0 auto;
    }
    .navlinks_container{
        position: unset;
        padding: unset;
        background: transparent;
        box-shadow: unset;
        padding-bottom: 1rem;
        /* border: 1px solid red; */
        border-bottom: 2px solid var(--whiteColor);
        border-radius: 0;
        display: flex;
     align-items: center;
     /* justify-content: space-between; */
     width: 70%;

     
    }
    .navlinks_container li a{
        color: var(--whiteColor);
    }

    .navlinks_container .navlink_group_a,.navlink_group_b{
        display: flex;
        align-items: center;
        /* border: 1px solid white; */
        /* justify-content: right; */
        text-align: left;
        
    }
    .btn.nav_btn{
        color: var(--whiteColor);
        border: 1px solid var(--whiteColor);
        
    }
    .navlink_group_a{
        justify-content: space-between;
        width: 70%;
        text-align: left;
    }
    .navlink_group_b{
        width: 30%;
        /* border: 1px solid red; */
        /* padding: 0 .8rem; */
        /* justify-content: left; */
    }
    .navlink_group_b>div{
        display: flex;
        width: 85%;
        /* border: 1px solid yellow; */

        align-items: center;
    }
    .navlink_group_b>div i{
        display: block;
        margin-left: 10px;
    }
    .navlink_group_b button{
        /* align-self: left; */
    }

    .hamburger{
        display: none;
    }
    .nav_search_icon{
        color: var(--whiteColor);
    }


    .section_d_line{
        width: 15%;
    }
    .section_g_flex_container{
        max-width: 1000px;
        margin: 0 auto;
        /* border: 1px solid red; */
        /* justify-content: space-around; */
        /* padding: 0; */
    }
    
}

@media screen and (min-width:1000px) {
    nav{
        max-width: 1400px;
        margin: 0 auto;
    }
    .navlink_group_a{
        width: 60%;

    }
    .navlink_group_b>div{
        /* border: 1px solid yellow; */
        width: 173.767px;
    }
    .navlink_group_b>div i{
        margin-left: -40px;
    }
    .navlinks_container{
        justify-content: unset;
    }
}


